<div id="accordion" role="tablist" aria-multiselectable="true">

    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Comentários
        </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <!--{{coments | json}}-->
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let item of coments; index as i">
                            <!-- *ngFor="let item of items" -->
                            <th scope="row">{{i+1}}</th>
                            <td>
                                <a [routerLink]="['/profile', item.user.id ]">
                                    <avatar [photo]="item.user.avatar_url" [name]="item.user.name"></avatar>
                                </a>
                            </td>
                            <td class="align-items-center justify-content-center">{{item.body}}</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Likes
        </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">

                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let item of likes; index as i">
                            <!-- *ngFor="let item of items" -->
                            <th scope="row">{{i}}</th>
                            <td>
                                <a [routerLink]="['/profile', item.user.id ]">
                                    <avatar [photo]="item.user.avatar_url" [name]="item.user.name"></avatar>
                                </a>
                            </td>
                            <!-- td class="align-items-center justify-content-center">{{item.user.bio}}</td>
                            <td>@mdo</td -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>