<div *ngIf="show">
    <div class="margens row col-12">
        <div class="ml-5 col-5">
            <simple-image [image]="detailShort?.images.hidpi"></simple-image>
        </div>

        <div class="ml-5 col-5">
            <personal-card-horizontal-component [user]="detailShort?.user"></personal-card-horizontal-component>
        </div>
    </div>

    <div class="row col-12">
        <collapse-card [coments]="coments" [likes]="likes"></collapse-card>
    </div>
</div>

<loading [show]="show"></loading>