.card-image {
    border-top-left-radius: 110px;
}

.card {
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    padding-top: 14px;
}

.card-title {
    overflow: hidden;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.profission {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.text-vertical-center {
    padding-top: 5px;
}

.avatar {
    color: #888;
}

.btn-twiter {
    color: #55acee;
}